<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">ThoughtWorks</a>

    </div>
  </div>
</div>
<div class="container">
  <p>
    Over the course of our internship we've focused on a project called "CPS Awareness".
    The purpose is to raise awareness about the flaws in CPS and bring those to ThoughWorkers and the community to find a solution to help CPS.
    As displayed, we have found a relationship between two main factors, parent involvement and safety score.

  </p>


  <div id="chart"></div>
</div>
