<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">ThoughtWorks</a>

    </div>
  </div>
</div>
<div class="container">
  <p>
    Over the course of our internship we've focused on a project called CPS awareness. The purpose is to raise awarness about the flaws in CPS and bring those to ThoughWorkers to find a solution to help CPS.


  </p>


  <div id="chart"></div>
</div>
